.cardContainer {
    background-color: rgba(165, 180, 203, 0.2) !important;
    box-shadow: 0px 0px 0px 2px #E0E0E0 !important;
    border-radius: 4px !important;
    padding: 7px 9px 7px 9px;
}

.carBox {
    border-radius: 4px !important;
}

.infoSection{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lastSection{
    margin-top: 10px;
}

.title{
    font-size: 17px;
    color: #161736;
}

.icon{
    color: #A5B4CB;
}

.typenDate{
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
}

/* New css for classPeriods */
.c_details label {
    font-weight: 300 !important;
    font-size: 13px !important;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.badge label {
    color: #0055A3;
    background-color: #B3DAFE;
    width: 70px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge label:hover {
    background-color: #115FB8;
    color: #FFF;
    cursor: pointer;
}

.card_edit_action {
    color: #115FB8;
    margin-right: 10px;
}

.card_delete_action {
    color: #E7422B;
}

.card_edit_action:hover, .card_delete_action:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.template_name {
    min-height: 35px;
}